@{
    ViewData["Title"] = "İletişim Bilgileri";
}
<div class="text-center">
    <h2 style ="color: purple">@ViewData["Title"]</h2>

    <br />
    <br />

    <h2>Ahmet Şirin</h2>
    <h2><a href="mailto:ahmet_sirin2211@outlook.com" target="_blank">ahmet.sirin.34@outlook.com</a></h2>
    <h2>En Büyük Fenerbahçe</h2>

</div>